<div class="logo"">
	 <%= image_tag('https://broker.aliorbank.pl/gfx2/alior/_thumbs/pl/alioraktualnosci/23/5938/1/l1eUwmOfZlOY5YVUlA,icon-ipo-inpost-broker_2.png', width: 100) %>
</div>
<%= @inpost_link %>
<%= simple_form_for @inpost, url: @inpost_link do|f| %>
  <%= f.input :tracking_number, label:false, placeholder: 'Your tracking number for InPost' %>
  <%= f.button :submit, 'Search for shipment' %>
<% end %>

<div class="logo"">
	 <%= image_tag('https://www.dpd.com.pl/bundles/k2main/img/dpdLogo.png?1.2.58', width: 100) %>
</div>
<%= simple_form_for @inpost, :url => { :action => "index" } do |f| %>
  <%= f.input :tracking_number, label:false, placeholder: 'Your tracking number for DPD' %>
  <%= f.button :submit, 'Search for shipment' %>
<% end %>

<div class="logo"">
	 <%= image_tag('https://efaktura.dhlparcel.pl/content/images/DHL_rgb-a4dbdac2f8.png', width: 100) %>
</div>
<%= simple_form_for @inpost, :url => { :action => "search" } do |f| %>
  <%= f.input :tracking_number, label:false, placeholder: 'Your tracking number for DHL' %>
  <%= f.button :submit, 'Search for shipment' %>
<% end %>