/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	margin: 0;
	padding: 0;
}
main {
	width: 100%;
}
section.title {
	margin: auto;
	width: 50%;
	padding: 1% 0 10px;
	margin-top: 20px;
	-webkit-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75);
}
section.title > p {
	text-align: center;
	font-size: 2em;
}
section.content {
	margin: auto;
	width: 50%;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 20px;
	-webkit-box-shadow: -3px 3px 64px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px 3px 64px -13px rgba(0,0,0,0.75);
	box-shadow: -3px 3px 64px -13px rgba(0,0,0,0.75);
}
.logo {
	text-align: center;
	padding: 20px 0 20px
}
input[type=text] {
	text-align: center;
	outline: none;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.21);
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.21);
	width: 30%;
	padding: 20px;
}
input[type=submit] {
	margin-top: 10px;
}