<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryTracking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<main>
  		<section class="title">
  			<p>Delivery tracking</p>
  		</section>
  		<section class="content">
  			<%= yield %>
  		</section>
  	</main>
  </body>
</html>
